{% extends 'base.html.twig' %}

{% block title %}Rock & Roule{% endblock %}

{% block body %}
    <h1 class="font-monospace text-center bg-dark text-warning m-0 p-0">Genres</h1>
    <div class="d-flex justify-content-center bg-dark">
    <table class="font-monospace text-center bg-dark text-light m-2 p-0">
        <thead class="text-warning">
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>

        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.genreid }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{ path('genres_show', {'genreid': genre.genreid}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('genres_edit', {'genreid': genre.genreid}) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-center">   
    {{ knp_pagination_render(genres)}}
</div>
<div class="d-flex justify-content-center bg-dark">
    <a href="{{ path('genres_new') }}" class="btn btn-warning m-2">Ajout nouveau</a>
    <a class="navbar-brand img" href="{{ path('artists_index') }}"><img src="{{ asset('images/Rock&Roule5.jpg') }}"/></a>
</div>
{% endblock %}
